body{
    background-image: url("../images/paz2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 10px;
    background-attachment: fixed;
}

.fila{
    background:white;
    text-align: center;
    margin-top: 3px;
    
}

.tarjeta{
    margin: 0 auto;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    width: 23%;
}

.tarjeta:hover{
    background: yellow;
    color: blueviolet;
}

table{
    margin: 10px;
    background: turquoise;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


.imagen{
    width: 95%;
    margin: 5 auto;
    
}
