body{
    text-align: center;
    
    margin: auto;
    
}

.mapamundol{
    text-align: center;
    color: crimson;
    font-size: xx-large;
    font-family: fantasy;
}

table{
    margin: auto;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}