body{
    background: blue;
}

#divprincipal {
    background: red;
    color: white;
    width: 88%;
    margin: auto;
}

#imgBanner {
    display: inline-block;
    width: 25%;
}

#textBanner {
    display: inline-block;
    vertical-align: top;
}

.fila{
    background: tomato;
    text-align: center;
    margin-top: 5px;
    
}

.tarjeta{
    margin: 0 auto;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    width: 23%;
}

.imgtarjeta{
    width: 150px;
    height: 200px;
    margin: 0 auto;
}